{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="" method="post" class="card card-body">
                <h1 class="text-center">Sign In</h1>
                {% csrf_token %}
                {{error}}
                <div class="mb-3">
                    <label for="id_username">Username:</label>
                    <input type="text" class="form-control" name="username" id="id_username" required>
                </div>
                <div class="mb-3">
                    <label for="id_password">Password:</label>
                    <input type="password" class="form-control" name="password" id="id_password" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}